*{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
H4{
    color: #e7e4e4;
    font-size: larger;
}
.menu-container{
    background-color: rgb(31, 29, 29);
    padding: 20px;
    color: #e7e4e4;
    list-style: none;
     display: flex;/* Side by side নিয়ে আসার জন্য */
    align-items: center;
    justify-content: space-around;
}
.munus{
    display: flex;
}
.item{
    margin-right: 10px;
    padding: 10px;
    font-size: 18px;
    
}
.item:hover{
    color: tomato;
    cursor: pointer;
}
.banner-img{
    width: 300px;
}
.banner-container{
    color: white;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    background-image: url(),linear-gradient(45deg,rgb(36, 36, 36),rgb(17, 17, 17));
    background-position: center;
    background-repeat: no-repeat;

    

}

.title{
    font-size: 55px;
    font-weight: bold;
}
.about-title{
    text-align:  center;
    padding-top: 20px;

}
.description{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
}
.btn{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border-radius: 5px;
    border:none;
}
.btn:hover{
    color: rgb(135, 158, 143);
}

.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding: 10px;
    

}

.box{
    width: 230px;
    height: 250px;
    box-shadow: 4px 4px 15px gray;
    background-color: black;
    text-align: center;
    padding: 20px;
    color: white;
    border-radius: 10px;
    
}

.icon{
    width: 100px;
}
.boxbtn{
    background-color: gray;
    margin-top: 10px;

}
.box-title{
    padding: 5px;
}

.box-description{
    padding: 5px;

}

.service-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: rgb(36, 34, 34);
    color: #e7e4e4;
    
}